$threads-font-path: '~plaid-threads/fonts';
@import '~plaid-threads/scss/typography';
@import '~plaid-threads/scss/variables';

/*


Base

*/

body {
  background: $white;
}

.App {
  max-width: 1050px;
  margin-right: auto;
  margin-left: auto;
  padding: 10 * $unit 5 * $unit;
}

/*

shared styles

*/
.bottom-border-content {
  overflow: hidden;
  border-bottom-width: 1px;
  border-bottom-color: $black200;
  border-bottom-style: solid;
  margin-bottom: 30px;
  padding-bottom: 30px;
}

.box {
  border-width: 1px;
  border-color: $black200;
  border-style: solid;
  border-radius: 4px;
  margin-bottom: 3 * $unit;
  box-shadow: $shadow-xsmall;
}

.card {
  display: flex;
  padding: 2rem;
  align-items: center;
}

.heading {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 1.2rem;
  margin-bottom: 0;
  color: $black1000;
}

.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  color: $color-text-dark;
}

.value {
  text-overflow: ellipsis;
  overflow-x: hidden;
}

.toast__background {
  background: $white;
}

.toast__link {
  color: $white;
  text-decoration: underline;
}

.Toastify__toast--error.toast__background {
  background: $red800;
}

.toast__body {
  color: $blue900;
  font-size: 2 * $unit;
  white-space: pre-line;
  padding-left: 10px;
}

.Toastify__toast--error > .toast__body {
  color: $white;
}

.icon-dots > ellipse {
  fill: $blue900;
}

/*

Content at the top of the view

*/

.user {
  color: $color-text-dark;
}
.everpresent-content__heading {
  margin-bottom: 2 * $unit;
  color: $color-text-dark;
}

.everpresent-content__subheading {
  font-size: 3 * $unit;
  font-weight: 300;
  line-height: 4 * $unit;
  margin-bottom: 0;
  color: $color-text-dark;
}

/*

Landing overview

*/

.landing__column {
  width: 33%;
  float: left;
}

.landing__value {
  overflow-x: hidden;
  padding-right: 1rem;
}

/*

UserList

*/

.user-list-heading {
  font-weight: normal;
  color: $color-text-dark;
}

.addUser:focus {
  box-shadow: none;
}
/*

UserCard

*/

.user-card__box {
  box-shadow: 0 10px 20px 0 rgba(3, 49, 86, 0.2);
}
.user-card {
  display: grid;
  grid-template-columns: 2fr 1fr;
}
.user-card__detail {
  padding-right: 10rem;
  width: 80%;
}

.user-card__column-1 {
  width: 20%;
  float: left;
}

.user-card__column-2 {
  width: 40%;
  float: left;
}

.user-card__column-3 {
  width: 40%;
  float: left;
}

.user-card__right {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.user-card__link__button {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.user-card__link {
  font-weight: 500;
  font-size: 14px;
  text-align: center;
  margin-top: 5px;
}

.button--is-primary {
  min-width: 10 * $unit;
}

/*

Item overview

*/

.back-to-user__link {
  font-size: 12px;
  font-weight: 600;
}

.item__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 2.5rem 0;
}
.item__header-heading {
  margin-bottom: 1rem;
  font-weight: normal;
  color: $color-text-dark;
}
.item__header-subheading {
  color: $color-text-dark;
}

.item-card {
  padding: 0 20px 0 0;
  background-color: $black100;
  border-bottom: 1px solid $black200;
}
.item-card:hover {
  cursor: pointer;
}

.item-card__clickable {
  padding: 20px 0 20px 20px;
  width: 100%;
}

.item-card__column-1 {
  width: 20%;
  display: flex;
  float: left;
  align-items: center;
}

.item-card__column-2 {
  width: 45%;
  float: left;
  margin-top: $unit;
}

.item-card__column-3 {
  width: 15%;
  float: left;
}

.item-card__column-4 {
  width: 20%;
  float: left;
}

.item-card__img {
  height: 4 * $unit;
  padding-right: 1rem;
}

.item-card__column:nth-child(1) {
  padding-right: $unit;
}

.item-card__column:nth-child(2) {
  padding-left: $unit;
}

/*

Account row

*/
.account-data-row {
  border-bottom: 1px solid $black200;
  padding: 3 * $unit;
  display: grid;
  grid-template-columns: 3fr 1fr;
}

.account-data-row:after {
  clear: both;
  content: '';
  display: table;
}

.account-data-row__name {
  font-size: 2 * $unit;
  line-height: 4 * $unit;
  display: inline-block;
  font-weight: 500;
}

/*

Add User Form

*/

.add-user__column-1 {
  width: 25%;
  padding-right: 2.5rem;
}

.add-user__heading {
  font-size: 2 * $unit;
  padding-bottom: 0.5rem;
}

.add-user__value {
  font-size: 14px;
}

.add-user__column-2 {
  width: 40%;
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

.user-add__label {
  padding-bottom: 0.5rem;
}

.user-add__input {
  height: 6 * $unit;
  font-size: 2 * $unit;
  border-radius: 4px;
  padding-left: $unit;
}

.add-user__column-3 {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  width: 35%;
}

.add-user__button {
  height: 5 * $unit;
  min-width: 10 * $unit;
  line-height: 6px;
  margin: 0.25rem 0.5rem;
}

/*

transactions-table

*/
.transactions {
  border-bottom: 1px solid $black200;
}

.transactions-table {
  padding: 0 3 * $unit;
  width: 100%;
}

.transactions-table th {
  font-size: 2 * $unit;
  font-weight: 600;
  padding-top: 2 * $unit;
  padding-bottom: 2 * $unit;
  color: $color-text-dark;
}

.transactions-table thead tr {
  border-bottom-color: $black200;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  text-align: left;
}

.transactions-body {
  height: 63 * $unit;
  overflow-y: auto;
  overflow-x: hidden;
  text-align: left;
}

.table-name {
  width: 35%;
}

.table-category {
  width: 25%;
}

.table-amount {
  width: 20%;
}

.table-date {
  width: 20%;
}

/*

More Details

*/
.more-details {
  position: relative;
}

.icon-button-container {
  zoom: 2;
}
