$threads-font-path: '~plaid-threads/fonts';
@import '~plaid-threads/scss/typography';
@import '~plaid-threads/scss/variables';

$border: 1px solid $black200;
/*


Base

*/

body {
  background: $white;
}

.App {
  max-width: 131 * $unit;
  margin-right: auto;
  margin-left: auto;
  padding: 10 * $unit 5 * $unit;
}

/*

shared styles

*/
.bottom-border-content {
  overflow: hidden;
  border-bottom: 1px solid $black1000;
  margin-bottom: 4 * $unit;
  padding-bottom: 4 * $unit;
}

.box {
  border: $border;
  border-radius: $border-radius;
  margin-bottom: 3 * $unit;
  box-shadow: $shadow-xsmall;
}

.card {
  display: flex;
  padding: 2rem;
  align-items: center;
}

.heading {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 1.2rem;
  margin-bottom: 0;
}

.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2 * $unit;
}

.value {
  text-overflow: ellipsis;
  overflow-x: hidden;
}

.toast__background {
  background: $white;
}

.toast__link {
  color: $white;
  text-decoration: underline;
}

.Toastify__toast--error.toast__background {
  background: $red800;
}

.toast__body {
  color: $black1000;
  font-size: 2 * $unit;
  white-space: pre-line;
  padding-left: $unit;
}

.Toastify__toast--error > .toast__body {
  color: $white;
}

/*

Content at the top of the view

*/

.everpresent-content__heading {
  margin-bottom: 2 * $unit;
}

.everpresent-content__subheading {
  font-size: 3 * $unit;
  font-weight: 300;
  line-height: 4 * $unit;
  margin-bottom: 0;
}

/*

Landing overview

*/

.landing__column {
  width: 33%;
  float: left;
}

.landing__value {
  overflow-x: hidden;
  padding-right: 1rem;
}

.btnsContainer {
  display: flex;
  margin: 2 * $unit 0;
}

.btnWithMargin {
  margin-left: 2 * $unit;
}

/*

Modal

*/

input::placeholder {
  line-height: 1.5;
}

/*

UserList

*/

.user-list-heading {
  font-weight: normal;
}

/*

UserCard

*/

.user-card__box {
  box-shadow: $shadow-medium;
  border-bottom: $border;
}
.user-card {
  display: grid;
  grid-template-columns: 7fr 3fr;
}

.user-card__no-link {
  display: grid;
  grid-template-columns: 1fr;
}

.user-card__info {
  display: grid;
  grid-template-columns: 3fr 3fr 7fr 4fr 5fr;
  margin-left: 2 * $unit;
}

.user-card__button {
  padding-left: 3 * $unit;
  flex: 1;
}

.linkButton {
  font-size: 2 * $unit;
}

.user-card__callouts {
  margin-bottom: 3 * $unit;
}

/*

Item overview

*/

.item__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 3 * $unit 0;
}
.item__header-heading {
  margin-bottom: 1rem;
  font-weight: normal;
}

.item-card {
  padding: 0 $unit 0 0;

  display: grid;
  grid-template-columns: 3fr 3fr 3fr 3fr;

  &.expanded {
    box-shadow: none;
  }
}

.item-card__column-1 {
  display: flex;
  align-items: center;
}

.item-card__column-2 {
  margin-top: $unit;
  margin-right: 2 * $unit;
}

.item-card__column-3 {
  margin-top: $unit;
}

.test-update-mode {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

/*

Account row

*/

.accountContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.account-data-row {
  border-bottom: $border;
  padding: 3 * $unit;
  display: grid;
  grid-template-columns: 3fr 1fr;
}

.account-data-row:after {
  clear: both;
  content: '';
  display: table;
}

.account-data-row__name {
  font-size: 2 * $unit;
  line-height: 4 * $unit;
  display: inline-block;
  font-weight: 500;
}

.backBtnHolder {
  width: 100px;
}

/*

Add User Form

*/

.addUserForm {
  margin-top: 3 * $unit;
}

.add-user__column-1 {
  width: 30%;
  padding-right: 3 * $unit;
}

.add-user__heading {
  font-size: 2 * $unit;
  margin: 2 * $unit;
}

.add-user__value {
  font-size: 1.4rem;
}

.add-user__column-2 {
  width: 40%;
  display: flex;
  flex-direction: column;
  padding: 1rem;

  .input_field {
    margin-bottom: 2 * $unit;
  }
}

.add-user__column-3 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 30%;
}

.add-user__button {
  margin: 0 2 * $unit;
  min-width: 10 * $unit;
}

/*

ErrorMessage

*/

.errMsgCallout {
  position: relative;
  margin-bottom: 3 * $unit;

  .closeBtn {
    position: absolute;
    right: 0;
    top: 0;
  }
}

.mainAccountHeader {
  display: flex;
  justify-content: space-between;
}

h3 {
  color: $black1000;
  letter-spacing: -0.28px;
  font-weight: bold;

  &.accountBalance {
    margin: 0;
  }
  &.accountDollars {
    margin-bottom: 1px;
    font-weight: 100;
  }
}

.transfer-funds__input {
  margin: 2 * $unit 0;
  width: 40 * $unit;
}

.transfer-funds__Title {
  margin: 0;
}

.callout {
  margin: 2 * $unit 0;
}

.user-list {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2 * $unit;
  border: $border;
  border-radius: $border-radius;
  margin-bottom: 3 * $unit;
  box-shadow: $shadow-xsmall;
  padding: 2 * $unit;
  width: 50 * $unit;

  .user-list__touchable {
    width: 30 * $unit;
  }
  &:hover {
    cursor: pointer;
  }
}
