# Your Plaid keys, which can be found in the Plaid Dashboard.
# https://dashboard.plaid.com/account/keys

PLAID_CLIENT_ID=
PLAID_SECRET_DEVELOPMENT=
PLAID_SECRET_SANDBOX=

# The Plaid environment to use ('sandbox' or 'development').
# https://plaid.com/docs/#api-host

PLAID_ENV=sandbox

# Only required for OAuth:
# Set PLAID_SANDBOX_REDIRECT_URI to 'http://localhost:3000'
# The OAuth redirect flow requires an endpoint on the developer's website
# that the bank website should redirect to. You will need to configure
# this redirect URI for your client ID through the Plaid developer dashboard
# at https://dashboard.plaid.com/team/api.
# when running in development mode, you must use https.  In this case,
# set PLAID_DEVELOPMENT_REDIRECT_URI to 'https://localhost:3000' and
# configure the redirect URI in the dashboard.

PLAID_REDIRECT_URI=http://localhost:3000
PLAID_SANDBOX_REDIRECT_URI=http://localhost:3000/oauth-link
PLAID_DEVELOPMENT_REDIRECT_URI=https://localhost:3000/oauth-link
